<h1>Log in</h1>

<p>Don't have an account? <%= link_to "Sign up", new_user_url %></p>

<form action='<%= session_url %>' method="post">
  <%= auth_token_html %>
  <label for="session_user_name">Username:</label>
  <input type="text" name="session[user_name]" id="session_user_name">
  <br>
  <label for="session_password">Password:</label>
  <input type="password" name="session[password]" id="session_password">
  <br>
  <input type="submit" value="Log in">
</form>